@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #e1e1e1;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}
